.footer__wrapper {
    padding: 0 0 70px;
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__button {
    display: block;
    margin:  0 auto;
    padding: 11px 53px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 61px;
    color: #000;
    cursor: pointer;
    font-family: Exo2, sans-serif;
    @media screen and (min-width: 480px) {
        font-size: 16px;
        line-height: 19px;
        padding: 16px 28px;
    };
    @media screen and (min-width: 1280px){
        font-size: 20px;
        line-height: 24px;
        order: 3;
        margin: 0;
    }
}

.footer__inner{
  padding: 24px 0 28px;
  @media screen and (min-width: 768px) {
    padding: 30px 0 30px;
  };
  @media screen and (min-width: 1280px){
      order: 1;
  }
}

.footer__email{
    @media screen and (min-width: 1280px){
    margin-right: 80px;   
 }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        @media screen and (min-width: 1280px){
            flex-direction: row-reverse;
            align-items: baseline;
            & .footer__contacts:nth-child(1) {
                margin-left: 50px;
            }
    }
    & li:nth-child(1) {
        padding-bottom: 12px;
    }

    & li a {
        font-family: Exo2, sans-serif;  
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (min-width: 768px) {
            font-size: 20px;
            line-height: 24px;
        };
        @media screen and (min-width: 1280px){
            font-size: 28px;
            line-height: 34px;
        }
    }
}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 28px;

    @media screen and (min-width: 768px) {
   
    };
    
    @media screen and (min-width: 1280px){
        order: 2;
    }
}

.footer__social__link {
   cursor: pointer; 
}

.footer__social__item {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    @media screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
    };
}

.footer__social__item:not(:last-child) {
    margin-right: 33px;
    @media screen and (min-width: 768px) {
        
    };
    
    @media screen and (min-width: 1280px){
        
    }
}

.footer__social__svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.whatsapp {
    width: 16.88;
    height: 16.33;
    @media screen and (min-width: 768px) {
        width: 22.5px;
        height: 21.77px;
    };
}

.telegram {
    width: 16.5;
    height: 13.5;
    @media screen and (min-width: 768px) {
        width: 22px;
        height: 18px;
    };
  
}

.instagram {
    width: 16.88;
    height: 16.88;
    @media screen and (min-width: 768px) {
        width: 22.5px;
        height: 22.5px;
    };
   
}