.hero {
    position: relative;
    padding: 195px 0 158px;
    z-index: 1;
}


.hero__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-family: Exo2, sans-serif;
    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 38px;
    };
    @media screen and (min-width: 1280px){
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
    }
}



.hero__text {
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-family: Exo2, sans-serif;

}