@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
    font-family: Exo, sans-serif;
}

@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap);
    font-family: Exo2, sans-serif;
}